/* Layout */
@media (min-width: 1020px) and (min-height: 300px) {
  .notion-page-content-has-aside {
    display: flex !important;
    flex-direction: row !important;
    width: calc((100vw + var(--notion-max-width)) / 1.8) !important;
  }

  .notion-page-content-inner {
    width: 720px !important;
    max-width: 720px !important;
  }

  .notion-aside {
    display: flex !important;
  }
}

/* Reset Padding/Margin */
.notion-full-page,
.notion-page-content,
.notion-page-scroller,
.notion-page {
  @apply p-0 !important;
}

.notion-page-no-cover {
  margin-top: 0 !important;
}

/* Typography */
.notion-font,
.notion-font-body,
.notion-text,
.notion-quote,
.notion-h-title,
.notion-table-of-contents-item-body {
  font-family: 'Pretendard', sans-serif !important;

  > b {
    font-weight: bold !important;
  }
}

.notion-quote {
  @apply text-[1.05rem] !important;
}

/* Lists */
.notion-list {
  li::marker {
    @apply text-lg !important;
  }

  .notion-list-disc {
    padding-inline-start: 0 !important;
  }

  > li {
    @apply py-1 !important;
  }
}

.notion-to-do-item {
  @apply flex items-center gap-2 !important;

  > svg {
    @apply w-4 h-4 !important;
  }
}

/* Table of Contents */
.notion-table-of-contents {
  @apply ml-4 !important;
}

.notion-table-of-contents-active-item {
  @apply bg-none text-primary font-semibold border-l-2 border-primary pl-2 -ml-2 transition-all duration-200 !important;
}

.notion-table-of-contents-item-body {
  border-bottom: none !important;
}

/* Aside */
.notion-aside {
  flex: none !important;
  z-index: 1;
  @apply ml-4 !important;
}

.notion-aside-table-of-contents {
  background-color: transparent !important;
  overflow: unset !important;
}

.notion-aside-table-of-contents-header {
  display: none;
}

/* Images & Captions */
.notion-asset-caption {
  @apply text-sm text-muted-foreground !important;
  font-family: 'Pretendard', sans-serif !important;
}

/* Hide Elements */
.notion-title {
  @apply hidden !important;
}

/* Misc */
.notion-page-scroller {
  flex-direction: unset;
}

.notion-app {
  background-color: transparent !important;
}
